html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}