<h1>Form2-Templateform-SetValues</h1>
<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
  <!--Name-->
<div>
  <label>Name:</label>
  <input type="text" name="name" 
  placeholder="Enter name" 
  [(ngModel)]="contact.name" 
  required pattern="^[A-Z]+$" #fn="ngModel">
  <p *ngIf="fn.invalid && fn.touched">
    Enter Correct name
  </p>
  </div>
  <!--Email-->
<div>
  <label>Email:</label>
  <input type="text"
  name="email" placeholder="Enter email"
  ngModel required
  #e="ngModel">
  <p *ngIf="e.invalid && e.touched">
    Enter Correct Email
  </p>
  </div>
<!--Group data-->
<div ngModelGroup="address">

  <div>
    <label>City:</label>
    <input type="text" name="city" ngModel>
  </div>
  <div>
    <label>Street</label>
    <input type="text" name="street" ngModel>
  </div>
  <div>
    <label>Pincode</label>
    <input  type="text" name="pincode" ngModel>
  </div>
</div>
<div>
  <label>Country</label>
  <select name="country" [(ngModel)]="contact.country">
    <option value="1">India</option>
    <option value="2">USA</option>
    <option value="3">England</option>
  </select>
</div>
<br>
<button type="submit" [disabled]="myform.invalid">Submit here</button>
<button type="button" (click)="changeval()">Change</button>
  
</form>

