.head{
  background-color: aqua;
  text-align: center;
}

.container{
  display: flex;
  gap:30px;
  flex-wrap: wrap;
  justify-content: center;
}
.div1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: violet;
  width: 220px;        
  height: 200px;         
}
.btn{
  color:rgb(218, 227, 227);
  background-color: rgb(57, 74, 75);
}
.btn:hover{
  background-color: rgb(12, 12, 12);
}